.page-header {
    padding: 10px;
    background-color: #eeeeee;
}

.page-footer {
    padding: 10px;
    background-color: #eeeeee;
}

.price-list {
    width: 100%;
    border-collapse: collapse;
}

.price-list td {
    border: solid #333333;
    padding: 5px  10px 5px 10px;
}
.price-list th{
    font-weight: normal;
    text-align: left;
    padding: 5px  10px 5px 10px;
}
.price-list .price-number{
    text-align: center;
}

