.page-header {
    padding: 10px;
    background-color: #eeeeee;
}

.page-footer {
    padding: 10px;
    background-color: #eeeeee;
}

.price-list {
    width: 100%;
    border-collapse: collapse;
}

.price-list td {
    border: solid #333333;

}
